*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #FFD900;
}
#logo{
    padding: 20px;
    margin-left: 40px;
}
#secao{
    display: grid;
    grid-auto-flow: column;
}
#info{
    background-color: #514988;
}
#video{
    width: 800px;
    height: 400px;
}
#titulo{
    color: #f3c61f;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#titulo2{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}
#info p{
    color: white;
    text-align: center;
    font-size: 20px;
}
#coutdow p {
    display: inline;
    font-size: 50px;
    align-items: center;
    font-weight: bold;
    color:#514988;
    margin-left: 20px;
}
#coutdow h1{
    align-items: center;
    color: #E33881;
    font-size: 23px;
    margin-left:20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.timeInfo{
    margin: 0px;
    padding: 0px;
}
span{
    display: inline;
    font-size: 50px;
    align-items: center;
    font-weight: bold;
    color:#514988;
    
}
footer h1{
    color: #F3C61F;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}
button{
    width: 400px;
    height: 100px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #514988;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 100px;
}
#cards{
 display: flex;
 cursor: pointer;
 margin-bottom: 100px;
}
button:hover{
    color: antiquewhite;
    box-shadow: rgb(125, 71, 224) 0px 10px 25px 0px;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}
#cards img:hover{
    zoom: 130%;
    transform: translateY(-7px);
    transition: 1s;
}
